@font-face {
	font-family: MontserratLight;
	src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
	font-family: MontserratRegular;
	src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
	font-family: MontserratMedium;
	src: url(../fonts/Montserrat-Medium.otf);
}
@font-face {
	font-family: MontserratSemiBold;
	src: url(../fonts/Montserrat-SemiBold.otf);
}

html, body {
	font-family: 'MontserratSemiBold';
	font-size: 12px;
	color: #333333;
	max-width: 100%;
	overflow-x: hidden;
}
a:focus,
a:hover {
	text-decoration: none;
}
a, .btn {
	@include transition;
	text-decoration: none;

	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	position:relative;
}
input,
textarea,
a,
.btn,
button,
select {
	outline: none !important;
}
.btn {
	@include rounded(30px);
	color: #FFFFFF;
	border: none;
	background-image: none;
	background-color: $primary-color;
	padding: 10px 30px;
	min-width: 140px;
	border: 2px solid $primary-color;
	font-size: 12px;
	&:hover {
		color: #333333;
		background-color: #FFFFFF;
		border-color: #FFFFFF;
	}
	&.borderd {
		border-color: #FFFFFF;
		color: #FFFFFF;
		background: none;
		&:hover {
			color: #000000;
			border-color: #000000;
		}
	}
}
h2 {
	font-family: 'MontserratMedium';
}
p {
	font-family: 'MontserratLight';
	margin: 0;
}
/////////////////////////////////////////////////
header {
	.logo {
		float: left;
		padding: 10px 10px 5px;
		img {width: 45px;}
	}
	nav {
		float: right;
		> ul {
			> li {
				float: left;
				position: relative;
				padding: 0 12px;
				&+li:before {
					content: " ";
					height: 20px;
					position: absolute;
					left: 0;
					top: 28px;
					width: 1px;
					background-color: $sc-color;
				}
				> a {
					text-transform: uppercase;
					display: block;
					padding: 30px 0;
					color: #333333;
					overflow: hidden;
					&:after {
						@include transition(0.2);
						content: "";
						width: 100%;
						height: 5px;
						position: absolute;
						top: 100%;
						left: 0;
						background-color: $primary-color;

						opacity: 0;
						-webkit-transform: translateY(0);
						-moz-transform: translateY(0);
						transform: translateY(0);
					}
				}
				&:hover > a {
					&:after {
						opacity: 1;
						-webkit-transform: translateY(-5px);
						-moz-transform: translateY(-5px);
						transform: translateY(-5px);
					}
					color: $primary-color;
				}
				ul {
					position: absolute;
					z-index: 11111111;
					width: 200px;
					background-color: #262626;
					opacity: 0;
					visibility: hidden;
					@include transition;
				}
				> ul {
					top: 100%;
					left: 0;
					margin-top: 50px;
					li {
						position: relative;
						a {
							display: block;
							color: #cccccc;
							padding: 12px 15px;
							font-family: 'MontserratRegular';
							&:hover {
								background-color: #000000;
								color: #FFFFFF;
							}
						}
						> ul {
							left: 100%;
							top: 0;
							margin-left: 50px;
						}
						&:hover {
							> ul {
								opacity: 1;
								visibility: visible;
								margin-left: 0;
							}
						}
					}
				}
				&:hover {
					> ul {
						opacity: 1;
						visibility: visible;
						margin-top: 0;
					}
				}
			}
		}
	}
	.search {
		float: right;
		margin: 15px 0 0 5px;
		.search-btn {
			width: 45px;
			height: 45px;
			background: $sc-color;
			@include rounded;
			display: block;
			text-align: center;
			font-size: 16px;
			color: #3d3d3d;
			i {
				line-height: 45px;
			}
			&:hover {
				background-color: $primary-color;
				color: #FFFFFF;
			}
		}
	}
	.search-container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#FFFFFF, 0.96);
		z-index: 111;

		@include transition(0.3);
		transform: scale(0);
		-moz-transform: scale(0);
		-webkit-transform: scale(0);
		opacity: 0;
		visibility: hidden;
		&.active {
			transform: scale(1);
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
		.search-close {
			width: 40px;
			height: 40px;
			background: url(../images/icons/close.png) no-repeat center;
			position: absolute;
			top: 15px;
			right: 15px;
			@include transition(0.5);
			&:hover {
				transform: rotate(360deg);
				-moz-transform: rotate(360deg);
				-webkit-transform: rotate(360deg);
			}
		}
		.search-form {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%);
			max-width: 90%;
			label {
				float: left;
				font-weight: bold;
				font-size: 30px;
				color: #333333;
				margin: 3px 10px 0 0;
			}
		}
		form {
			float: left;
			position: relative;
			max-width: 100%;
			&:after, &:before {
				@include transition(0.5);
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				width: 0;
				height: 3px;
				background-color: #e1e1e1;
			}
			&:before {
				width: 100%;
			}
			&.active:after {
				width: 100%;
				background-color: $primary-color;
			}
			input[type='text'] {
				border: none;
				background: none;
				padding: 5px 50px 5px 0;
				height: 40px;
				font-size: 25px;
				font-style: italic;
				float: left;
				font-family: 'MontserratRegular';
				max-width: 100%;
			}
			button {
				background: url(../images/icons/search-active.png) no-repeat top;
				background-size: 25px;
				background: none;
				border: none;
				padding: 0;
				height: 40px;
				width: 25px;
				margin-left: -25px;
				float: left;
				color: $primary-color;
				font-size: 25px;
				.fa {
					margin-top: -10px;
				}
				&:hover {
					color: #000000;
				}
			}
		}
	}
}
///////////////////////////////////////////////
footer {
	background-color: #222222;
	overflow: hidden;
	* {
		font-family: 'MontserratRegular';
	}
	.top-footer {
		padding: 50px 0;
		border-bottom: 1px solid #333333;
		h3 {
			margin: 0 0 40px;
			color: #FFFFFF;
			font-family: 'MontserratMedium';
		}
		p {
			line-height: 22px;
			color: #888888;
		}
		a {
			color: #888888;
		}
		input[type="text"] {
			background-color: #393939;
			padding: 8px 20px;
			border: none;
			margin-bottom: 10px;
			width: 100%;
			color: #FFFFFF;
			height: 45px;
		}
		ul {
			li {
				margin-bottom: 12px;
				a {
					display: block;
					//padding-left: 20px;
					//background: url(../images/icons/right-arrow.png) center left no-repeat;
					i {
						font-size: 15px;
						margin-right: 5px;
					}
					&:hover {
						color: #FFFFFF;
					}
				}
			}
		}
	}
	.bottom-footer {
		padding: 20px 0;
		color: #888888;
		a {
			color: #FFFFFF;
		}
		li {
			float: left;
			margin-right: 5px;
			a {
				display: block;
				height: 35px;
				width: 35px;
				background-color: #393939;
				background-position: center;
				background-repeat: no-repeat;
				@include rounded;
				text-align: center;
				i {
					line-height: 35px;
				}
				&:hover {
					color: #000000;
					background-color: #FFFFFF;
				}
			}
		}
		p {
			text-align: right;
			img {margin-left: 5px;}
		}
	}
}
