/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "../fonts/font-awesome/scss/font-awesome";
@import "compass/reset";
@import "styles";
@import "partial/_variables";
@import "partial/_mixins";
@import "partial/_layout";
@import "responsive";
/*************** Home Page ******************/
.main-slider {
	// height: 100vh;
	// min-height: 500px;
	// width: 100%;
	// overflow: hidden;
	color: #FFFFFF;
	text-align: center;
	.slide-title h2 {
		font-family: 'MontserratSemiBold';
		margin: 0;
		font-size: 48px;
	}
	.slide-text p {
		margin: 30px 0;
		font-size: 16px;
		line-height: 25px;
	}
	.btn {
		color: #FFFFFF;
		padding: 15px 20px;
	}
	.tp-bannertimer {
		width: 100%;
		height: 10px;
		background: url(../images/icons/timer.png);
		position: absolute;
		z-index: 200;
		top: 0;
	}
	.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
		width: 100%;
	}
}
.solutions-section {
	padding: 80px 0;
	color: #FFFFFF;
	background-color: #f39224;
	background-image: url(../images/solution-bg.png);
	background-repeat: no-repeat;;
	background-size: cover;
	text-align: center;
	h2 {
		margin: 0;
	}
	.tabs {
		margin: 30px 0 50px;
		a {
			padding: 5px 10px;
			@include rounded(20px);
			color: #FFFFFF;
			&:hover, &.active {
				background-color: #FFFFFF;
				color: #f39224;
			}
		}
	}
	.tabs-container {
		> div:not(:first-child) {
			display: none;
		}
	}
	.icon-container {
		img {
			height: 70px;
		}
	}
	h3 {
		margin: 20px 0 25px;
		font-size: 20px;
	}
	p {
		line-height: 25px;
		margin: 0;
		font-size: 14px;
	}
}
.samrt-solution-section {
	padding: 70px 0;
	background-color: #262626;
	color: #FFFFFF;
	h2 {
		font-size: 25px;
		margin: 0 0 15px;
	}
	p {
		font-family: 'MontserratSemiBold';
		color: #666666;
		margin: 0;
	}
	a {
		margin: 1px 5px;
	}
}
.recent-cases-section {
	.col-sm-6 {
		> img {width: 100%;}
	}
	.recent-cases {
		padding: 70px 20px;
		@media (max-width: 768px) {
			padding: 20px 10px;
		}
		@media (max-width: 480px) {
			padding: 20px 0;
		}
		> h2 {
			margin: 0 0 40px;
		}
		h3 {
			font-size: 18px;
			margin: 5px 0 20px;
		}
		.col-md-6 {
			margin-bottom: 50px;
			p {
				color: #666666;
			}
		}
		.logo-container {
			height: 100px;
			img {
				max-height: 100%;
			}
		}
	}
}
.news-section {
	padding: 80px 0 0;
	background-color: #f8f8f8;
	font-family: 'MontserratMedium';
	h2 {
		margin: 0 0 30px;
		text-align: center;
	}
	.news-item {
		height: 300px;
		position: relative;
		.news-item-content {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			padding: 30px;
			background-color: rgba(#000000, 0.2);
			color: #FFFFFF;
		}
		&:hover .news-item-content {
			background-color: rgba(#000000, 0.5);
		}
		span {
			display: inline-block;
			padding: 5px 10px;
			border: 2px solid #FFFFFF;
			@include rounded(20px);
		}
		h3 {
			margin: 0;
			padding: 30px;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			line-height: 30px;
		}
	}
}
.owl-prev, .owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(#FFFFFF, 0.8);
	height: 100px;
	width: 50px;
	background-position: center;
	background-repeat: no-repeat;
	&:hover {
		background-color: #FFFFFF;
	}
}
.owl-next {
	right: 0;
	background-image: url(../images/icons/right.png);
}
.owl-prev {
	left: 0;
	background-image: url(../images/icons/left.png);
}
.owl-dots {
	text-align: center;
	.owl-dot {
		display: inline-block;
		@include rounded;
		margin: 0 5px;
		width: 10px;
		height: 10px;
		background-color: #333333;
		@include rounded;
		&.active {
			background-color: $primary-color;
			-webkit-box-shadow: 0px 0px 0px 1px rgba(243,146,36,1);
			-moz-box-shadow: 0px 0px 0px 1px rgba(243,146,36,1);
			box-shadow: 0px 0px 0px 1px rgba(243,146,36,1);
		}
	}
}
.clients-feedback {
	padding: 80px 0;
	text-align: center;
	background-image: url(../images/client-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	h2 {
		margin: 0 0 30px;
	}
	.feedback-slider {
		max-width: 900px;
		margin: auto;
	}
	.feedback {
		.client-image {
			margin: auto;
			width: 50px;
			height: 50px;
			@include rounded;
			overflow: hidden;
			img {
				width: 100%;
				-webkit-transform-style: flat;
			}
		}
		h3 {
			font-size: 16px;
			margin: 20px 0 5px;
		}
		h4 {
			font-size: 12px;
			font-family: 'MontserratRegular';
			margin: 0;
		}
		p {
			position: relative;
			margin: 30px 0;
			padding: 0 50px;
			background: url(../images/icons/quotes-left.png) center left no-repeat;
			font-style: italic;
			line-height: 20px;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				height: 100%;
				background: url(../images/icons/quotes-right.png) center right no-repeat;
			}
		}
	}
}
/********************************************************/
.header {
	background-color: $primary-color;
	max-height: 450px;
	overflow: hidden;
	position: relative;
	img {width: 100%;}
	> div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000000,0.2);
	}
	h1 {
		margin: 0;
		color: #FFFFFF;
		text-align: center;
		font-size: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
	}
}
.bio-section {
	padding: 80px 0;
	h2 {
		margin: 0;
		font-size: 28px;
		line-height: 40px;
	}
	p {
		margin: 0;
		line-height: 30px;
		color: #666666;
	}
}
.video-section {
	padding: 100px 0;
	background: url(../images/video-bg.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
	@media (max-width: 768px) {
		padding: 40px 0;
	}
	h2 {
		margin: 0 0 40px;
		font-size: 28px;
	}
	iframe {
		width: 600px;
		height: 300px;
		max-width: 100%;
	}
}
.solutions-items {
	padding: 80px 0;
	text-align: center;
	h2 {
		margin: 0 0 40px;
	}
	.solution-item {
		background: #f8f8f8;
		overflow: hidden;
		.row {
			margin: 0;
		}
		h3 {
			font-family: 'MontserratMedium';
			margin: 0 0 40px;
		}
		p {
			line-height: 25px;
			margin-bottom: 40px;
		}
		.btn {
			background-color: transparent;
			border: 2px solid #f39224;
			color: #f39224;
			&:hover {
				border-color: #000000;
				color: #000000;
			}
		}
		.col-md-6 {
			padding: 0;
			margin: 0;
			max-height: 350px;
			img {width: 100%;}
			&:last-child {
				padding: 70px;
				@media (max-width: 768px) {
					padding: 30px 20px;
					h3, p {
						margin-bottom: 20px;
					}
				}
			}
			&:first-child {
				overflow: hidden;
			}
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				margin-top: -8px;
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
			}
		}
		&.left {
			.col-md-6:last-child {
				&:before {
					left: 0;
					margin-left: -10px;
					border-right: 10px solid #f8f8f8;
				}
			}
		}
		&.right {
			.col-md-6 {
				float: right;
				@media (max-width: 768px) {
					float: none;
				}
				&:last-child {
					&:before {
						right: 0;
						margin-right: -10px;
						border-left: 10px solid #f8f8f8;
					}
				}
			}
		}
		&.right, &.left {
			@media (max-width: 768px) {
				.col-md-6:last-child:before {
					top: 0;
					left: auto;
					right: auto;
					margin: -10px 0 0;
					border-top: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 10px solid #f8f8f8;
				}
			}
		}
	}
}
.solution-details {
	padding: 80px 0;
	background-color: #f8f8f8;
	h2 {
		text-align: center;
		margin: 0 0 40px;
	}
	.why {
		.col-md-6 {
			overflow: hidden;
			img {width: 100%;}
		}
	}
	.tabs {
		border-bottom: 1px solid #e0e0e0;
		a {
			float: left;
			padding: 20px 30px;
			margin-bottom: -1px;
			color: #333333;
			&:hover, &.active {
				color: $primary-color;
				border-bottom: 2px solid $primary-color;
			}
		}
	}
	.tabs-container {
		padding: 40px 0;
		.tab-content {
			display: none;
			&.active, &:first-child {
				display: block;
			}
			h3 {
				margin: 0 0 40px;
			}
			ul {
				li {
					margin-bottom: 10px;
					> div {
						display: none;
					}
				}
				i {
					color: $primary-color;
					margin-right: 10px;
					vertical-align: top;
					font-size: 20px;
				}
				a {
					color: #666666;
					font-size: 14px;
					font-family: 'MontserratRegular';
					&:hover, &.active {
						color: $primary-color;
					}
				}
				p {
					margin-top: 5px;
					padding-left: 22px;
				}
			}
		}
	}
}
.discover {
	padding: 80px 0;
	background: url(../images/discover-bg.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
	h2 {
		color: #FFFFFF;
		margin: 0 0 40px;
	}
	p {
		color: #FFFFFF;
		line-height: 25px;
	}
	.btn-container {
		margin-top: 40px;
		.btn {
			margin: 0 5px;
			min-width: 160px;
		}
	}
}
/****************************************/
.cases-list {
	padding: 80px 0;
	overflow: hidden;
	h2 {
		text-align: center;
		margin: 0 0 30px;
	}
	.case-item {
		margin-bottom: 30px;
		padding: 20px;
		border: 1px solid #e5e5e5;
		@media (max-width: 768px) {
			margin-bottom: 0;
		}
		img {
			height: 80px;
			max-width: 100%;
		}
		h3 {
			margin: 25px 0;
			font-size: 18px;
		}
		p {
			color: #666666;
			margin-bottom: 25px;
		}
		a {
			color: $primary-color;
			&:hover {
				color: #000000;
			}
		}
	}
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	z-index: 111;

	@include transition(0.3);
	transform: scale(0);
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	opacity: 0;
	visibility: hidden;
	&.active {
		transform: scale(1);
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
	.pop-close {
		width: 40px;
		height: 40px;
		background: url(../images/icons/close.png) no-repeat center;
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 111111;
		@include transition(0.5);
		&:hover {
			transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
		}
	}
	&.case-details {
		.pop-close {
			right: 25px;
		}
	}
}
.case-details-container {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 70px 0;
	h2 {
		margin: 0 0 30px;
	}
	p {
		line-height: 25px;
		color: #666666;
	}
	.image-container {
		max-height: 500px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.row+.row {
		margin-top: 70px;
	}
}
/*******************************************************/
.about-section {
	.col-md-4 {
		padding: 0;
		height: 330px;
		margin-bottom: 0 !important;
	}
	.image-container {
		height: 330px;
		overflow: hidden;
		img {
			height: 100%;
		}
	}
	.about-text {
		padding: 45px;
		background-color: #f6f6f6;
		&.orange {
			background-color: $primary-color;
			h2, p {
				color: #FFFFFF;
			}
		}
		&.black {
			background-color: #262626;
			h2, p {
				color: #FFFFFF;
			}
		}
		h2 {
			font-size: 24px;
			margin: 0 0 25px;
		}
		p {
			font-size: 14px;
			line-height: 25px;
			color: #666666;
		}
	}
}
.about-stat {
	padding: 80px 0 50px;
	background: url(../images/about/about-bg.jpg) no-repeat center;
	background-size: cover;
	.container > div {
		&+div {
			border-left: 1px solid #d8d9da;
		}
		width: (100%/5);
		padding: 5px 20px;
		text-align: center;
		float: left;
		margin-bottom: 30px;
		.image-container {
			height: 60px;
			img {
				max-height: 100%;
			}
		}
		h2 {
			font-size: 44px;
			margin: 25px 0 5px;
		}
		p {
			font-size: 16px;
		}
		@media (max-width: 1000px) {
			width: (100%/3);
		}
		@media (max-width: 768px) {
			width: (100%/2);
		}
		@media (max-width: 520px) {
			width: 100%;
			padding: 20px;
			margin-bottom: 20px;
			&+div {
				border-left: 0;
				border-top: 1px solid #d8d9da;
			}
		}
	}
}
/**************************************************/
