<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{css_path}/froala/froala_editor.css">
<link rel="stylesheet" href="{css_path}/froala/froala_style.css">
<link rel="stylesheet" href="{css_path}/froala/plugins/code_view.css">
<link rel="stylesheet" href="{css_path}/froala/plugins/colors.css">
<link rel="stylesheet" href="{css_path}/froala/plugins/emoticons.css">
<link rel="stylesheet" href="{css_path}/froala/plugins/image_manager.css">
<link rel="stylesheet" href="{css_path}/froala/plugins/image.css">
<link rel="stylesheet" href="{css_path}/froala/plugins/line_breaker.css">
<link rel="stylesheet" href="{css_path}/froala/plugins/table.css">
<link rel="stylesheet" href="{css_path}/froala/plugins/char_counter.css">
<link rel="stylesheet" href="{css_path}/froala/plugins/video.css">
<link rel="stylesheet" href="{css_path}/froala/plugins/fullscreen.css">
<link rel="stylesheet" href="{css_path}/froala/plugins/quick_insert.css">
<link rel="stylesheet" href="{css_path}/froala/plugins/file.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
