  <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

  <script type="text/javascript" src="{js_path}/froala/froala_editor.min.js" ></script>

  <script type="text/javascript" src="{js_path}/froala/align.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/code_beautifier.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/code_view.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/colors.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/emoticons.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/font_size.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/font_family.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/image.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/file.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/image_manager.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/line_breaker.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/link.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/lists.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/paragraph_format.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/paragraph_style.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/video.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/table.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/url.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/entities.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/char_counter.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/inline_style.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/save.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/fullscreen.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/quote.min.js"></script>
  <script type="text/javascript" src="{js_path}/froala/quick_insert.min.js"></script>

 