/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2017, 7:32:18 PM
    Author     : YasserEbid
*/

.news-section .news-item {
    height: 331px;
}

.bio-section .col-md-6 * {
    line-height: 25px;
}

.solutions-items .solution-item {
    height: 393px;
}

.solutions-items .solution-item .col-md-4 {
    height: 393px;
}

.solutions-items .solution-item .col-md-6 {
    height: 393px;
}
